.dropdown__input-root {
	padding: 2px !important;
	min-height: 30px;
	min-width: 180px;
}
.dropdown__tag-close-icon {
	padding: 0 4px;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	font-weight: 600;
	color: black;
	margin-top: -0.2rem !important;
}

.dropdown__tag-close-icon:hover {
	background-color: rgba(255, 0, 0, 0.051);
}

.dropdown__label {
	margin-bottom: 0.5rem;
	font-weight: 400;
	font-size: 1rem;
}

.dropdown__option {
	color: black;
	padding-left: 1.8rem !important;
	font-size: 1.1rem;
	text-transform: capitalize;
}

.dropdown__group-label {
	line-height: 2.5rem;
	color: grey;
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
